.nav-div {
    grid-row: 1;
    grid-column: 1 / span 3;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-brand {
    display: flex;
    align-items: center;
}

.nav-links {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    display: inline-block;
    margin-left: 15px;
}

.nav-link:hover {
    color: #9a9c9e !important;
}

.dropdown {
    height: 100%;
    display: none !important;
    align-items: center;
}

@media screen and (max-width: 1125px) {
 .nav-links {
    display: none !important;
 }

}
