.nav-div {
    height: 5%;
    margin: auto;
}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: space-between !important;
}

.nav-links {
    margin-right: 60px;
}

.nav-brand {
    margin-left: 60px;
}


.nav-links, .nav-brand {
    font-size: 20px !important;
}

.nav-link:hover {
    color: #FFF !important;
}

.closemenu {
    visibility: hidden;
    position: absolute;
    border : none;
    background: black;
    right: 20px;
    top: 20px;
    transition-delay: .1s;
    transition-property: visibility;
}

.closemenu img {
    height: 30px;
    width: 30px;
}

.dropdown {
    display: none;
    margin-right: 60px;
}

.dropmenu {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    transition: width 0.5s;
}

.dropmenu-icon {
    height: 30px;
    width: 30px;
}

.dropmenu-button {
    background-color: #212529;
    border: none;
}



@media screen and (max-width: 1125px) {
 .nav-links {
    display: none !important;
 }

 .dropdown {
    display: block;
}


}
