.nav-div {
    display: flex;
    grid-row: 1;
    grid-column: 1 / span 12;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
    font-size: 1.25em;
    color: #FFF;
    max-height: 6.25rem;
}

.nav-links {
    display: flex;
}

.nav-link {
    text-decoration: none;
    padding: 0.5rem;
    color: #FFF;
    transition: color 0.4s;
}

.nav-link:hover {
    color: #B9D6F2;
}

.dropdown {
    display: none;
}

.dropdown button {
    background-color: #04132f;
    border: none;
}

.dropdown button:hover {
    cursor: pointer;
}

.dropdown img {
    max-height: 3.5em;
    max-width: 3.5em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(99deg) brightness(106%) contrast(101%);
    transition: filter 0.5s;
}

.dropdown img:hover {
    filter: invert(86%) sepia(4%) saturate(2059%) hue-rotate(179deg) brightness(96%) contrast(97%);
}

@media screen and (max-width: 48rem) {
    
    .nav-links {
        display: none;
    }

    .dropdown {
        display: block;
    }
}