.closemenu {
    visibility: hidden;
    position: absolute;
    border : none;
    background: black;
    right: 20px;
    top: 20px;
    transition-delay: .1s;
    transition-property: visibility;
}

.closemenu img {
    height: 30px;
    width: 30px;
}

.dropmenu {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    transition: width 0.5s;
}

.dropmenu-icon {
    height: 30px;
    width: 30px;
}

.dropmenu-button {
    background-color: #212529;
    border: none;
    height: 100%;
}

.mobile-nav-bar {
    height: 100%;
    width: 100%;
    background-color: #000 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-nav {
    height: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column !important;
    justify-content: space-around;

    list-style-type: none;
}

.mobile-nav-link {
    font-size: 24px;
    text-decoration: none;
    color: #FFF;
}

.mobile-nav-link:hover {
    color: #9a9c9e !important;
}

@media screen and (max-width: 1125px) {
    .dropdown {
       display: block !important;
   }
      
}
   