.closemenu {
    visibility: hidden;
    position: absolute;
    border : none;
    background: #09275E;
    right: 1.25em;
    top: 1.25em;
    transition-delay: .1s;
    transition-property: visibility;
}

.closemenu:hover{
    cursor: pointer;
    
}

.closemenu img {
    max-height: 2em;
    max-width: 2em;
}

.dropmenu {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 10;
    position: relative;
    height: 100%;
    width: 0%;
    background-color: #09275E;
    color: white;
    transition: width 0.5s;
}

.mobile-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
}

.mobile-nav {
    position: fixed;
    left: -35%;
    top: 40%;
    display: flex;
    flex-direction: column;
    transition: left .5s;
}

.mobile-nav-link {
    padding: 1.5em;
}

.mobile-nav-link a{
    font-size: 1.5em;
    text-decoration: none;
    color: #FFF;
    transition: color 0.5s;
}

.mobile-nav-link a:hover {
    color: #B9D6F2;
}

   