.divider {
    width: 80%;
    height: 1px;
    border: 1px solid white;
    margin: 0 auto;
}

.projects {
    margin: 20px auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: scroll;
}

.projects h1 {
    font-size: 48px !important;
}

.projects p,
.projects li {
    font-size: 18px !important;
}

.project-1,
.project-2,
.project-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.project-image-container {
    height: 100%;
    width: 50%;
}

.project-image {
    height: 400px;
    width: 600px;
}

.project-info {
    height: 100%;
    width: 50%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.technologies-list,
.external-links-list {
    list-style-type: none;
}

.technology,
.external-link {
    display: inline;
}