.portrait {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    position: relative;
    max-height: 20em;
    max-width: 20em;
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.25em;
}

.img-wrapper {
    z-index: -1;
    left: -5%;
    top: 5%;
    position: absolute;
    border: 0.25em solid #B9D6F2;
    border-radius: 0.25em;
    height: 100%;
    width: 100%;
}

.about-button {
    position: relative;
    font-size: 1em;
    min-width: 9.375em;
    min-height: 4.7em;
    background-color: #04132f;
    border-color: #B9D6F2;
    border-radius: 0.3em;
    color: #F7F0F5;
    margin-top: 1.25em;
    transition: border-color 0.4s, box-shadow 0.4s, transform 0.4s;
}

.about-button:hover{
    border-color: #B9D6F2;
    transform: translate(0.5em, -0.5em);
    box-shadow: -0.5em 0.5em #B9D6F2;
    cursor: pointer;
}

#about {
    display: flex;
    justify-content: center;
}

#intro {
    width: 70%;
    line-height: 1.5;
    padding-left: 1em;
}

#intro h1 {
    font-size: 2.5em;
    color: #B9D6F2;
    margin-bottom: 0.25em;
}

#intro p {
    margin-bottom: 0.6em;
}

@media screen and (max-width: 81.25em) {
    .portrait{
        margin-bottom: 5em;
    }

    #intro {
        width: 100%;
    }

    #about {
        flex-direction: column;
    }
}