#contact {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contact h1 {
    color: #FFF;
    font-size: 32px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 16px;
    margin-bottom: 20px;
}

#contact button {
    position: relative;
    font-size: 16px;
    width: 200px;
    height: 75px;
    background-color: #212529;
    border-color: #9a9c9e;
    border-radius: 5px !important;
    color: #9a9c9e;
    margin-top: 20px !important;
    transition: color 0.4s, border-color 0.4s, box-shadow 0.4s, transform 0.4s;
    
}

#contact button:hover{
    color: #FFF;
    border-color: #FFF;
    transform: translate(7px, -7px);
    box-shadow: -7px 7px #FFF;
}