.footer-div {
    grid-column: 1 / span 3;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo {
    height: 3.125em;
    width: 3.125em;
}

.linkedin-logo {
    height: 2.5em;
    width: 2.5em;
}

.github-logo,
.linkedin-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transition: filter 0.5s;
}

.github-logo:hover,
.linkedin-logo:hover {
    filter: invert(70%) sepia(6%) saturate(117%) hue-rotate(169deg) brightness(88%) contrast(87%);
}

.footer-nav{
    display: flex;
    align-items: center;
}