.footer-div {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo {
    height: 2.4em;
    width: 2.4em;
}

.linkedin-logo {
    height: 2.5em;
    width: 2.5em;
}

.github-logo,
.linkedin-logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transition: filter 0.5s;
}

.github-logo:hover,
.linkedin-logo:hover {
    filter: invert(84%) sepia(23%) saturate(589%) hue-rotate(181deg) brightness(99%) contrast(91%);
}

.footer-nav{
    display: flex;
    align-items: center;
}